.p-slider {
	background: #bfc5cd;
	border: 0 none;
	border-radius: 6px;
	width: 100%;
}

.dark .p-slider {
	background: #1b395b;
}

.p-slider.p-slider-horizontal {
	height: 2px;
}

.p-slider .p-slider-range {
	background: #0067d5;
}

.p-slider .p-slider-handle:focus {
	box-shadow: none;
}

.p-slider .p-slider-handle {
	height: 12px;
	width: 12px;
	background: #0067d5;
	border: none;
	border-radius: 50%;
	transform: translateY(-50%);
	position: relative;

	&:after {
		content: attr(aria-valuenow);
		display: inline-block;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 13px;
		line-height: 1.2;
	}
}
